<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.mapper.OrgMapper">
	<select id="slectAll" resultType="com.atguigu.bean.Organization">
		select *
		from sys_organization 
	</select>
	
	<select id="slectAllEmp" resultType="com.atguigu.bean.Employee">
		select *
		from employee_info 
		
	</select>
	
	<insert id="insertOrg" parameterType="com.atguigu.bean.Organization">
		insert into 
		sys_organization
		(
		parent_id,
		type,
		principal_id,
		name,
		address,
		phone,
		post_code,
		fax,
		create_time,
		modify_time
		) 
		values
		(
		#{parent_id},
		#{type},
		#{principal_id},
		#{name},
		#{address},
		#{phone},
		#{post_code},
		#{fax},
		#{create_time},
		#{modify_time}
		)
		
	</insert>
	
	<select id="selectById" resultType="com.atguigu.bean.Organization" parameterType="int">
		select *
		from sys_organization 
		where
		id = #{id}
	</select>
	
	
	
	<update id="updataOrg" parameterType="com.atguigu.bean.Organization">
		update sys_organization
		set 
		parent_id=#{parent_id},     
		type=#{type},          
		principal_id=#{principal_id},  
		name=#{name},          
		address=#{address},       
		phone=#{phone},         
		post_code=#{post_code},     
		fax=#{fax},
		create_time=#{create_time},
		modify_time=#{modify_time}
		WHERE 
		id = #{id};
	</update>
	
	<delete id="deletOrg" parameterType="int">
		DELETE FROM sys_organization WHERE id = #{id};
	</delete>
</mapper>
